
#hero {
    .img-container {
        border: 4px solid #9f9f9f;
        overflow: hidden;
        border-radius: 8px;
        height: 600px;

        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        width: 80%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        h2 {
            margin: 10px 0;
            font-size: 1.7rem;
            font-weight: 600;
            color: $red;
        }

        h4 {
            display: block;
            font-size: 1.2rem;
            margin: 10px 0;
            font-weight: 600;
        }

        p {
            margin: 10px 0;
            font-size: 1rem;
            line-height: 1.7;
        }

        @include btn-color($red)
    }
}

#hobbits {
    @include title;

    .content {
        .box {
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            height: 50px;
            border-radius: 5px;
            background-color: $samiWhite;
            transition: $transition2;

            &:hover {
                box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
                transform: translateY(-5px);
            }

            .icon {
                width: 50px;
                height: 50px;
                border-left: 1px solid #ddd;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .name {
                font-size: 1rem;
                margin-right: 15px;
            }
        }
    }
}

#portfolio {
    @include title;
    .btns{
        width: 100%;
        text-align: center;
        @include btn-color($red ,15%)

    }
    .box{
        border: 3px solid $light-boarder-color;
        background-color: $white;
        border-radius: 5px;
        overflow: hidden;
        .box-img{
            height: 280px;
            background-color: #c5c5c5;
            position: relative;
            a{
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                transform: translate(-50% , -50%);
                color: $white;
                font-size: 1.2rem;
                opacity: 0;
                visibility: hidden;
                width: 50px;
                height: 50px;
                background-color: rgba($black , 50%);
                border-radius: 50%;
                transition: $transition1;
            }
            &:hover{
                a{
                    visibility: visible;
                    opacity: 1;
                }
            }
            img{
                width: 100%;
                height: 280px;
                object-fit: cover;
            }
        }
        .box-content{
            text-align: center;
        }
    }
}

@media (max-width: 1000px) {
    #hero {
        .img-container {
            height: 400px;

            img {
                height: 400px;
            }
        }

        .content {
            width: 100%;

            .btn-red {
                width: 100%;
            }
        }
    }

}
