$light-boarder-color : #f5f5f5;
$black: #0e1111;
$white: #FAFCFF;
$youtube: #ff0000;
$twitter:#1d9bf0;
$telegram:#2fa3d9;
$instagram:#f503c1;
$red :#e54b4b;
$samiWhite:#f9fafd;


$transition1 : 320ms;
$transition2 : 180ms;
