*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Vazirmatn FD !important;
}
@import "-preloader";
@import "-animations";
@import "-variable";
@import "-header";
@import "-home";
